In [1]:
#4-1
def print_star():
    print('***************')
    
print_star()
print_star()
print_star()
print_star()
print_star()
print_star()

***************
***************
***************
***************
***************
***************

In [2]:
#4-2
def print_star5():
    print('***************')
    print('***************')
    print('***************')
    print('***************')
    print('***************')
    
print_star5()
print_star5()

***************
***************
***************
***************
***************
***************
***************
***************
***************
***************

In [3]:
#4-3
def print_star():
    print('************')
def print_plus():
    print('++++++++++++')
def print_hash():
    print('############')
print_hash()
print_star()
print_plus()
print_plus()
print_star()
print_hash()

############
************
++++++++++++
++++++++++++
************
############

In [9]:
#4-4.1
def print_star(n):
    for i in range(n):
        print('*************')
print_star(10)
print()

#4-4.2
def print_hash(n):
    for i in range(n):
        print('#############')
print_hash(10)
print()

#4-4.3
print_hash(6)
print()

#4-4.4
def print_hash2(n):
    for i in range(n):
        print(i,'#############')
print_hash2(6)

*************
*************
*************
*************
*************
*************
*************
*************
*************
*************

#############
#############
#############
#############
#############
#############
#############
#############
#############
#############

#############
#############
#############
#############
#############
#############

0 #############
1 #############
2 #############
3 #############
4 #############
5 #############

In [5]:
#4-5.1
def print_sub(a,b):
    sub=a-b
    print('{}과 {}의 차는 {}입니다.'.format(a,b,sub))
print_sub(10,20)

#4-5.2
def print_mult(a,b):
    mult=a*b
    print('{}과 {}의 곱은 {}입니다.'.format(a,b,mult))
print_mult(10,20)

10과 20의 차는 -10입니다.
10과 20의 곱은 200입니다.

In [16]:
#4-6.1
def print_root(a,b,c):
    r1=(-b+(b**2-4*a*c)**0.5)/(2*a)
    r2=(-b-(b**2-4*a*c)**0.5)/(2*a)
    print('해는',r1,'또는',r2)
print_root(1,4,-21)
print_root(1,-6,8)

#4-6.2
def print_area(width,height):
    area=width*height*(1/2)
    print('밑변 {}, 높이 {}인 삼각형의 면적은 :'.format(width,height),area)
print_area(10,20)

해는 3.0 또는 -7.0
해는 4.0 또는 2.0
밑변 10, 높이 20인 삼각형의 면적은 : 100.0

In [21]:
#4-7
def circle_area_circum(radius):
    a=3.14*radius*radius
    c=3.14*2*radius
    return(a,c)
radius=10
area,circum=circle_area_circum(10)
print('반지름이 {}인 원의 면적은 {},원의 둘레는{:.1f}'.format(radius,area,circum))

반지름이 10인 원의 면적은 314.0,원의 둘레는62.8

In [15]:
#4-8

def multiples(n,m):
    a=[]
    for i in range(1,m+1):
        k=n*i
        a.append(k)
    return(a)
r1,r2,r3,r4=multiples(3,4)        
print(r1,r2,r3,r4)        

r1,r2,r3,r4,r5=multiples(2,5)
print(r1,r2,r3,r4,r5)

3 6 9 12
2 4 6 8 10

In [19]:
#4-9
def print_name(honorifics,first_name,last_name):
    print(honorifics,first_name,last_name)
    
print_name(first_name='Gildong',last_name='Hong',honorifics='Dr.')
print_name('Gildong','Hong','Dr.')

Dr. Gildong Hong
Gildong Hong Dr.

In [5]:
#4-10.1
def sum_nums(*numbers):
    print(len(numbers),'개의 인자',numbers)
    print('합계 :',sum(numbers),'평균 :',sum(numbers)/len(numbers))
sum_nums(10,20,30)
sum_nums(10,20,30,40,50)

#4-10.2
def min_nums(*numbers):
    print('최솟값은',min(numbers))
min_nums(20,40,50,10)

3 개의 인자 (10, 20, 30)
합계 : 60 평균 : 20.0
5 개의 인자 (10, 20, 30, 40, 50)
합계 : 150 평균 : 30.0
최솟값은 10

In [7]:
#4-11.a
name=input('당신의 이름을 입력해주세요 :')
age=input('나이를 입력해주세요 :')
job=input('직업을 입력해주세요 :')
adress=input('사는 곳을 입력해 주세요 :')
print('당신의 이름은 {},나이는 {},직업은 {},사는 곳은 {}입니다.'.format(name,age,job,adress))

#4-11.b
print('당신의 이름은',name,'나이는',age,'직업은',job,'사는 곳은',adress,'입니다.')

당신의 이름을 입력해주세요 :김철수
나이를 입력해주세요 :21
직업을 입력해주세요 :학생
사는 곳을 입력해 주세요 :창원시
당신의 이름은 김철수,나이는 21,직업은 학생,사는 곳은 창원시입니다.
당신의 이름은 김철수 나이는 21 직업은 학생 사는 곳은 창원시 입니다.

In [13]:
#4-12.1
'_'.join('ABCD')

#4-12.2
s='My favorite thing is monsters.'
t=s.replace('monsters','cartoons')
print(t)

My favorite thing is cartoons.