In [1]:
#
import this   #파이썬의 철학

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [3]:
#datetime모듈을 임폴트
import datetime
datetime.datetime.now()     #모듈 불러오기

datetime.datetime(2022, 10, 13, 14, 24, 42, 894362)

In [9]:
today=datetime.date.today()
print(today)
today
print(type(today))
today.year
today.month
today.day

2022-10-13
<class 'datetime.date'>

13

In [10]:
dir(datetime)

['MAXYEAR',
 'MINYEAR',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'date',
 'datetime',
 'datetime_CAPI',
 'sys',
 'time',
 'timedelta',
 'timezone',
 'tzinfo']

In [11]:
#replce()메소드
start_time=datetime.datetime.now()
start_time.replace(month=12,day=25)

datetime.datetime(2022, 12, 25, 14, 34, 26, 750344)

In [59]:
#lap 7-1 
import datetime
today=datetime.datetime.now()
print('오늘의 날짜 : {}년 {}월 {}일'.format(today.year,today.month,today.day))

if today.hour>12:
    hour2 = today.hour-12
    c='오후'
else:
    hour2= today.hour
    c='오전'


print('현재시간 :','{} {}시 {}분 {}초'.format(c, hour2,today.minute,today.second))

오늘의 날짜 : 2022년 10월 13일
현재시간 : 오후 4시 40분 7초

In [31]:
#
import datetime as dt
today=dt.date.today()
print('오늘은 {}년 {}월 {}일입니다.'.format(today.year,today.month,today.day))
xMas=dt.datetime(2022,12,25)
time_gap=xMas-dt.datetime.now()
print('다음 크리스마스 까지는 {}일 {}시간 남았습니다.'.format(time_gap.days,time_gap.seconds//3600))

오늘은 2022년 10월 13일입니다.
다음 크리스마스 까지는 72일 8시간 남았습니다.

In [63]:
#내가 태어난 날 이후로 10000일 되는 날 언제인지 찾아라 과제
import datetime as dt
print('내가 태어난 날=',dt.datetime(1999,6,13))
만일=dt.timedelta(days=10000)
더하기_만일=dt.datetime(1999,6,13)+만일
print('10000일 후=',더하기_만일)

내가 태어난 날= 1999-06-13 00:00:00
10000일 후= 2026-10-29 00:00:00

In [ ]:
# 유명한 파이썬 패키지 5개 찾기 어디에 쓰이는지 샘플코드 이걸로 뭘 하고 싶다 워드로 써내라... pandas numpy 구글에 best of python package

In [16]:
import time 
seconds=time.time()
print('에폭 이후의 시간=',seconds)

에폭 이후의 시간= 1665642992.3217926

In [18]:
import time
unix_timestamp=time.time()
local_time=time.localtime(unix_timestamp)
print(time.strftime('%Y-%m-%d %H:%M:%S',local_time))

2022-10-13 15:40:21

In [19]:
import time
print("바로 출력되는 구문.")
time.sleep(4.5)
print("4.5초 후 출력되는 구문.")

바로 출력되는 구문.
4.5초 후 출력되는 구문.

In [100]:
import time
start_time=time.time()
print(1+2+3+4+5+6+7+8+9+10)

end_time=time.time()
gap=end_time-start_time
print('1에서 10까지의 합을 구하고 출력하는 시간 :{:7.4f}초'.format(gap))

55
1에서 10까지의 합을 구하고 출력하는 시간 : 0.0000초

In [40]:
import random as rd
rd.random()
rd.random()
rd.random()
rd.random()
rd.randrange(1,7)
rd.randrange(1,7)
rd.randrange(1,10,2)  #1이상 10미만 정수 중 2의 배수를 반환함
rd.randint(1,10)

2

In [99]:
# a,b라는 사람이 주사위 게임을 하는데 randrange가지고 누구 한명 이길떄까지  코드 과제
import random as rd
a,b=1,1

while (a==b):
    a=rd.randrange(1,7)
    b=rd.randrange(1,7)
    print('a 주사위는 {},b 주사위는 {}'.format(a,b))
    if (a<b) :
        print('b승!')
    elif a>b:
        print('a승!')

a 주사위는 3,b 주사위는 3
a 주사위는 1,b 주사위는 5
b승!

In [45]:
import random as rd
numlist=[10,20,30,40,50]
rd.shuffle(numlist)
numlist
rd.choice(numlist)
rd.sample(numlist,3)

[50, 20, 10]

In [54]:
#lap 7-5.1
import random as rd
a=[]
for i in range(101):
    if i%5==0:
        a.append(i)
b=rd.sample(a,3)  
print('0에서 100이하의 정수 중에서 5의 배수')
print(b)

#lap 7-5.2
c=[]
for i in range(1,11):
    c.append(i)
print('1에서 10사이의 임의의 정수 :',rd.sample(c,3))

0에서 100이하의 정후 중에서 5의 배수
[70, 45, 60]
1에서 10사이의 임의의 정수 : [6, 5, 9]

In [2]:
#로또번호 만들기 과제
import random as rd
a=[]
for i in range(1,46):
    a.append(i)
rd.shuffle(a)
b=a[:6]
b.sort()

print('이번주 로또번호는 :',b)

이번주 로또번호는 : [4, 5, 18, 21, 33, 37]

In [103]:
#lap 7-1
import datetime as dt
today=dt.datetime.now()
print('오늘의 날짜 : {}년 {}월 {}일'.format(today.year,today.month,today.day))

if today.year>12:
    year2=today.year
    c='오전'
else:
    year2=today.year-12
    c='오후'
    
print('현재 시간: {} {}시 {}분 {}초'.format(c,today.hour,today.minute,today.second))

오늘의 날짜 : 2022년 10월 17일
현재 시간: 오전 1시 0분 37초

In [111]:
#lap 7-2.1
import datetime as dt
today=dt.date.today()
print('오늘의 날짜 : {}년 {}월 {}일'.format(today.year,today.month,today.day))

xMas=dt.date(2025,12,25)
time_gap=xMas-today
print('다음 크리스마스까지는 {}일 {}시간 남았습니다.'.format(time_gap.days,time_gap.seconds//3600))

print()
#lap 7-2.2
import datetime as dt
today=dt.date.today()
print('오늘의 날짜 : {}년 {}월 {}일'.format(today.year,today.month,today.day))

xMas=dt.date(2036,1,1)
time_gap=xMas-today
print('2036년 새해 까지는 {}일 {}시간 남았습니다.'.format(time_gap.days,time_gap.seconds//3600))

print()
#lap 7-2.3
import datetime as dt
today=dt.date.today()
print('오늘의 날짜 : {}년 {}월 {}일'.format(today.year,today.month,today.day))

xMas=dt.date(2023,6,13)
time_gap=xMas-today
print('2023년 생일까지는 {}일 {}시간 남았습니다.'.format(time_gap.days,time_gap.seconds//3600))

오늘의 날짜 : 2022년 10월 17일
다음 크리스마스까지는 1165일 0시간 남았습니다.

오늘의 날짜 : 2022년 10월 17일
2036년 새해 까지는 4824일 0시간 남았습니다.

오늘의 날짜 : 2022년 10월 17일
2023년 생일까지는 239일 0시간 남았습니다.

In [14]:
#lap 7-3.1
import datetime as dt

a=dt.timedelta(days=1000)
plus1000day=dt.date.today()+a

print('1000일 후=',plus1000day)

print()
#lap 7-3.2
a=input('처음으로 사귄 연도와 월, 일을 입력하시오 :').split( )
b=[]
   
for i in a:
    b.append(int(i))

year,month,day=b    

d=dt.timedelta(days=99)
e=dt.datetime(year,month,day)+d

print('100일 기념일은 : {}년 {}월 {}일입니다'. format(e.year,e.month,e.day))

1000일 후= 2025-07-13

처음으로 사귄 연도와 월, 일을 입력하시오 :2019 3 30
100일 기념일은 : 2019년 7월 8일입니다

In [32]:
#lap 7-4.1
import math as m
for i in range(2,11):
    print('4**{:2d}= {:10.1f}'.format(i,m.pow(4,i)))

print()
#lap 7-4.2
for i in range(0,181,10):
    print('{:3d} degree = {:5.3f}radian'.format(i,m.radians(i)))

print()
#lap 7-4.3
for i in range(0,181,10):
    print('sin({:3d}) = {:5.2f}'.format(i,m.sin(m.radians(i))))

4** 2=       16.0
4** 3=       64.0
4** 4=      256.0
4** 5=     1024.0
4** 6=     4096.0
4** 7=    16384.0
4** 8=    65536.0
4** 9=   262144.0
4**10=  1048576.0

  0 degree = 0.000radian
 10 degree = 0.175radian
 20 degree = 0.349radian
 30 degree = 0.524radian
 40 degree = 0.698radian
 50 degree = 0.873radian
 60 degree = 1.047radian
 70 degree = 1.222radian
 80 degree = 1.396radian
 90 degree = 1.571radian
100 degree = 1.745radian
110 degree = 1.920radian
120 degree = 2.094radian
130 degree = 2.269radian
140 degree = 2.443radian
150 degree = 2.618radian
160 degree = 2.793radian
170 degree = 2.967radian
180 degree = 3.142radian

sin(  0) =  0.00
sin( 10) =  0.17
sin( 20) =  0.34
sin( 30) =  0.50
sin( 40) =  0.64
sin( 50) =  0.77
sin( 60) =  0.87
sin( 70) =  0.94
sin( 80) =  0.98
sin( 90) =  1.00
sin(100) =  0.98
sin(110) =  0.94
sin(120) =  0.87
sin(130) =  0.77
sin(140) =  0.64
sin(150) =  0.50
sin(160) =  0.34
sin(170) =  0.17
sin(180) =  0.00

In [7]:
#lap 7-5.1
import random as rd
a=[]
for i in range(100):
    a.append(rd.randrange(0,101,5))
    
print('0에서 100이하의 정수 중에서 5의 배수',rd.sample(a,3))    


#lap 7-5.2
b=list(range(1,11))
print('1에서 10사이의 임의의 정수 :',rd.sample(b,3))

0에서 100이하의 정수 중에서 5의 배수 [70, 80, 75]
1에서 10사이의 임의의 정수 : [6, 7, 1]

In [10]:
#lap 7-6.1
import random as rd
a=list(range(1,46))
print('이번주 추천 로또번호는')
for i in range(5):
    b=rd.sample(a,6)
    b.sort()
    print(b)

#lap 7-6.2
import random as rd
c=list(range(1,46))
d=rd.sample(c,6)
e=rd.choice(c)
f=[]
f.append(e)
d.sort()
print('이번주 로또번호 + 보너스')
print(d,'+',f)

이번주 추천 로또번호는
[8, 22, 23, 25, 29, 32]
[4, 21, 24, 38, 39, 41]
[10, 11, 13, 23, 28, 45]
[16, 22, 27, 35, 40, 42]
[1, 7, 30, 31, 36, 37]
이번주 로또번호 + 보너스
[9, 13, 21, 29, 32, 33] + [41]